/* Global */
@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Amiri";
  src: url("../fonts/Amiri/Amiri-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Almarai", sans-serif;
  text-align: right;
}

/* Right-align placeholder text in form inputs */
.form-control::placeholder {
  text-align: right;
  direction: rtl;
}

:root {
  --main-color: #101840;
  --secondary-color: #e5e2f7;
  --tertiary-color: #e5e2f778;
  --text-color: #6d738f;
  --heading-color: #897ae3;
  --button-color: #897ae3;
  --hero-section-color: #3b4664;
}

h2 {
  color: var(--heading-color);
  font-family: "Amiri", "Almarai", sans-serif;
  font-size: 24px;
}

h3 {
  color: var(--main-color);
  font-size: 48px;
  font-weight: 700;
}

p {
  color: var(--text-color);
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.bg-mainColor {
  background-color: var(--main-color);
}

.bg-secondaryColor {
  background-color: var(--secondary-color);
}

.bg-tertiaryColor {
  background-color: var(--tertiary-color);
}

.bg-hero-section-color {
  background-color: var(--hero-section-color);
}

.bg-main-heading-color {
  background-color: var(--heading-color);
}

.text-main-heading-color {
  color: var(--heading-color);
}

.border-main {
  border: 1px solid var(--button-color);
}
.border-secondary {
  border: 1px solid var(--text-color);
}

.text-sub-heading-color {
  color: var(--main-color);
}

.text-font-color {
  color: var(--text-color);
}

.button-color {
  background-color: var(--button-color);
  color: white;
}

.btn:hover {
  opacity: 0.8;
  color: white;
  background-color: var(--button-color);
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.fs-18 {
  font-size: 18px;
}

.w-15 {
  width: 15%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}
.w-85 {
  width: 85%;
}

.pointer {
  cursor: pointer;
}

.nav-link:hover {
  color: var(--button-color);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.fa-brands:hover {
  color: var(--button-color);
  scale: 1.1;
  rotate: -10deg;
  transform-origin: center;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.section-padding {
  padding: 80px 0;
}

.accordion-button::after {
  margin-right: auto;
  margin-left: 0;
}

.play {
  width: 120px;
  height: 120px;
  cursor: pointer;
}

.play-hero {
  width: 180px;
  height: 180px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-65%, -95%);
}

.play:hover,
.play-hero:hover {
  scale: 1.05;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.scroll-bar {
  scrollbar-width: thin;
  scrollbar-color: var(--button-color) var(--tertiary-color);
}

/* End Global */

.hero-image {
  transform: translateX(-17%);
}
.hero-image-2 {
  transform: translate(-10%, 10%);
}
.hero-image-3 {
  transform: translate(-25%, 5%);
}

#discover-btn:hover {
  color: var(--button-color);
  padding-right: 10px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

/* Left Leg */
.left-leg {
  position: absolute;
  top: 10%;
  right: -7%;
}

/* Fixed Icon */
a.arrow {
  width: 40px;
  height: 40px;
  color: white;
  right: 25px;
  bottom: 25px;
  z-index: 99;
  background-color: var(--button-color);
}

a.arrow:hover {
  opacity: 0.9;
  scale: 1.1;
  rotate: -15deg;
  transform-origin: center;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.fast-donation {
  left: 100px;
  bottom: 50px;
  z-index: 99;
}

.contact-icon {
  width: 50px;
  height: 50px;
}

/* End Fixed Icon */

/* scrollbar */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--tertiary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    135deg,
    var(--button-color),
    var(--heading-color)
  );
  border-radius: 10px;
  border: 1px solid var(--tertiary-color);
  box-shadow: 0 0 6px var(--tertiary-color), 0 0 10px var(--tertiary-color);
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: linear-gradient(
    135deg,
    var(--button-color),
    var(--secondary-color)
  );
  box-shadow: 0 0 8px var(--tertiary-color), 0 0 12px var(--tertiary-color);
}
